.mainside{
	float: left;
	width: 55%;
	padding: 10px;
}

.leftside{
	float: left;
	width: 20%;
	text-align: left;
	padding: 5px;
}

.rightside{
	float: left;
	width: 20%;
	text-align: right;
	padding: 5px;
	border:solid;
	margin-right:7px;
	background-color:blue;
	text-align:left;
}

h1{
	color: gold;
	text-align: center;
	background-color:blue;
	padding:20px;
}

.container{
	margin: 10 auto;
}

.bottomphoto{
	margin: auto;
	text-align:center;
}


h3{
	color:#00ccff;
}

p{
	color: #0066ff;
}
